[Unit]
Description=Firewall rule updater

[Service]
ExecStart=/path/to/binary/firewall-updater-service.py
Type=notify
NotifyAccess=main
WatchdogSec=5s
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
PrivateTmp=yes

[Install]
WantedBy=multi-user.target